$background-color: #19A1AE;
$background-color-secondary: #41CBD3;
$background-color-light: #E8E9EC;
$background-image: linear-gradient(180deg, rgba(9, 137, 180, 0.00) 0.78%, #53FFEE 99.94%);
// $background-image-secondary: rgba(9, 137, 180, 0), rgba(83, 255, 238, 1);
$background-image-secondary: #19A1AE;
$color-primary: #2E3349;
$color-secondary: #6B7082;
$color-light: #E8E9EC;

